
.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.cursive{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.styledFont{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color:aquamarine;

}

#p1{
    color:red;
}

#p2{
    color:blue;
}

#p3{
    color:green;
}


#p4{
    font-size: xx-large;
}

#p5{
    font-size: xx-small;
}

#p6{

    font-weight: bold;
    color: orange;
    font-size: xx-large;
}

#styledImage{
    border-style:double;
    border-color: orange;
    border-width:thick ;
}